@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: rgba(0, 124, 194, 0.3);
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.125rem;
  background-color: rgba(0, 124, 194, 0.3);
}

@layer components {
  .nav-item {
    @apply text-black text-sm font-medium cursor-pointer hover:text-cabanaBlue hover:font-bold transition-all;
  }

  .button-outlined-lg {
    @apply border-2 border-cabanaBlue text-cabanaBlue py-[12px] px-[36px] rounded-full text-lg font-medium hover:bg-cabanaBlue hover:border-2 hover:border-cabanaBlue hover:text-white hover:scale-[1.02] active:scale-100 transition-all;
  }

  .button-filled-lg {
    @apply border-2 border-cabanaBlue bg-cabanaBlue text-white py-[12px] px-[36px] rounded-full text-lg font-medium hover:bg-white hover:border-2 hover:border-cabanaBlue hover:text-cabanaBlue hover:scale-[1.02] active:scale-100 transition-all;
  }

  .button-filled-sm {
    @apply border-2 border-cabanaBlue bg-cabanaBlue text-white py-[5px] px-[12px]  rounded-full text-xs font-medium hover:bg-white hover:border-2 hover:border-cabanaBlue hover:text-cabanaBlue hover:scale-[1.02] active:scale-100 transition-all;
  }
}
