/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -110;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.25;

    /* The image used */
    background-image: url("/images/bg/stars4.jpg");

    width: 100%;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -111;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
  border-radius: 0.125rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1.125rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-corduroy;
  border-radius: 1.125rem;
}

@layer base {
  body {
    @apply text-prussianBlue dark:text-linkWater;
  }
}

@layer components {
  .section {
    @apply py-14 md:py-28 max-w-xxl mx-auto px-4 2xl:px-0;
  }

  .section-content {
    @apply max-w-xxl m-auto px-4 2xl:px-0;
  }

  .scroll-condition:not([data-scroll="0"]) {
    @apply shadow-regular;
  }

  .vertical {
    writing-mode: vertical-rl;
  }

  .text-gradient-green {
    background: linear-gradient(124deg, #11a78d 3.54%, #8fe74a 77.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-purple {
    background: linear-gradient(133deg, #0145bc -17.99%, #b077dd 55.16%, #17469a 121.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .li-star li {
    margin-bottom: 14px;
    @apply bg-star bg-no-repeat bg-left pl-[32px]
  }

  .li-starGray li {
    margin-bottom: 14px;
    @apply bg-starGray bg-no-repeat bg-left pl-[32px]
  }

  .li-star-2 li {
    margin-bottom: 14px;
    @apply bg-star bg-no-repeat bg-left pl-10 ml-8
  }
}
